<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="overflow-x: hidden;">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />

	<link rel="icon" type="image/x-icon" th:href="@{/img/ava.ico}">
	<title>Vino_Card</title>


	<script type="text/javascript" th:src="@{/libs/gsap/gsap.min.js}"></script>
	<script type="text/javascript" th:src="@{/libs/gsap/ScrollTrigger.min.js}"></script>
	<script type="text/javascript" th:src="@{/libs/gsap/ScrollSmoother.min.js}"></script>

	<script type="text/javascript"  th:src="@{/js/app.js}" defer></script>
	<script type="text/javascript"  th:src="@{/js/app_card.js}" defer></script>

	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/cards.css}">

</head>
<body>

	<div class="wrapper">
		<div class="content">

			<header class="main-header">
				<div class="layers" style="background-image: url(img/layer-base.png);">
					<div class="layer__header">
						<div class="layers__caption">Vino</div>
						<div class="layers__title">2024</div>
					</div>
					<div data-lag="3" class="layer layers__base" style="background-image: url(img/layer-base.png);"></div>
					<div class="layer layers__middle" style="background-image: url(img/layer-middle.png);"></div>
					<div class="layer layers__front" style="background-image: url(img/layer-front.png);"></div>
				</div>
			</header>



			<article class="main-article" style="background-image: url(img/background.png);">
				<div class="portfolio">
					<div class="card_container">
						<main class="gallery">

							<div data-speed="1" class="gallery__left">

								<img class="gallery__item" th:src="@{img/card1.jpg}" alt="Alt" >

								<div class="text-block gallery__item">
									<h2 class="text-block__h" style="margin-bottom: 0;">Приобрести<br>онлайн</h2>
									<a href="https://ghostshelf.shop/merchant/68"><img th:src="@{img/favicon.png}" class="gallery-shop"></a>
								</div>

								<img id="current-image"  class="gallery__item" th:src="@{img/card2.jpg}" style=" margin-top: 10vh;" alt="Alt">

							</div>

							<div data-speed="1.1" class="gallery__right">

								<div class="text-block gallery__item">
									<h2 class="right-block text-block__h">Авторский<br>мерч</h2>
									<p class="hide-block text-block__p">с большой<br>базой фандомов</p>
								</div>

								<img class="gallery__item" th:src="@{img/card3.jpg}" alt="Alt" >
								<div class="text-block gallery__item" style="margin-top: 0vh;">
									<div class="image-gallery" style="display: flex; justify-content: center;">
										<a href="https://vk.com/vinlosyash"><img th:src="@{img/vk_logo.png}" alt="Изображение 1" class="social-image" style="max-width: 200px; height: auto;"></a>
										<a href="https://www.tiktok.com/@_nastyavino_?_t=8pisnOQZnAG&_r=1"><img th:src="@{img/tt_logo.png}" alt="Изображение 2" class="social-image" style="max-width: 200px; height: auto;"></a>
										<a href="https://t.me/pogrebvina"><img th:src="@{img/tg_logo.png}" alt="Изображение 3" class="social-image" style="max-width: 200px; height: auto;"></a>
									</div>
								</div>
							</div>


						</main>
						<div class="center-container">
							<a href="https://t.me/pogrebvina"><img th:src="@{img/tits.png}" alt="Изображение 1" class="social-image" style=" width: 75vh; height: auto; " ></a>
						</div>
					</div>


				</div>
			</article>
		</div>
	</div>

</body>
</html>